<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposits</title>
</head>
<body>
<p>Всего средств на счету</p>
<br>
<br>
<p>Вклады</p>
<form th:action="@{/request}" th:method="get">
    <input type="submit" name="action" value="Открыть вклад">
</form>
<br>
<br>
<p>Отклоненные заявки</p>
<br>
<br>

<table>
    <tbody>
    <br>
    <br>
    <form th:action="@{/logout}" th:method="get">
        <input type="submit" name="action" value="Выйти из аккаунта">
    </form>
    </tbody>
</table>
</body>
</html>