<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Полная информация по вкладу</title>
</head>
<body>
<br>
<br>
<p> Полная информация по вкладу</p>
<br>
<p><label th:text="${deposit}"></label></p>
<br>
<form th:action="@{/agreedepositoff/{id}(id=${deposit.idDeposit})}" th:method="get">
    <input type="submit" name="action" value="Подтвердить закрытие вклада">
</form>
<br>

<form th:action="@{/deposit}" th:method="get">
    <input type="submit" name="action" value="Вернуться к списку вкладов">
</form>
<!--<form th:action="@{/closedeposit/{id}(id=${deposit.idDeposit})}" th:method="get">-->
<!--    <input type="submit" name="action" value="Закрыть вклад">-->
<!--</form>-->




</body>
</html>